pkgbase = pacrep
	pkgdesc = Choose pacman repositories on a per package basis
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/leo-arch/pacrep
	arch = any
	license = GPL2
	makedepends = git
	depends = bash
	depends = pacman
	depends = coreutils
	depends = grep
	depends = gawk
	depends = util-linux
	source = git+https://github.com/leo-arch/pacrep.git
	sha256sums = SKIP

pkgname = pacrep

